<br>
<h3 style="text-align: center;">Choose Export Format</h3>
<br>
<div class="row">
  <div class="col-12">
    <div style="text-align: center; margin-top: 50px;">
      <div class="col-3" style="display: inline-block; cursor: pointer; margin-left: 10px;">
        <a (click)="exportReportsPdf()"><img src="assets/pdf.png" alt=""></a>
      </div>
      <div class="col-3" style="display: inline-block; cursor: pointer; margin-left: 10px;">
        <a (click)="exportArticlesExcel()" href="C:\Users\WindowsReport\Desktop\articles.pdf"><img src="assets/excel.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
